html {
    box-sizing: border-box;
}

body {
    background-color: #FFECD1;
    font-family: 'Ubuntu', sans-serif;
}

#cim {
    padding: 1rem;
    background-color: #1D3557;
    color: #FBFEFB;
    border: 2px solid #FCA311;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Ubuntu', sans-serif;
}

#image {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-bottom: 25px;
    line-height: 1.5;
    padding: 20px 0;
    border-bottom: 1px solid #e1f1ff;
}

.content {
    text-align: justify;
    margin-left: 5rem;
    margin-right: 5rem;
}

.features {
    font-size: 16px;
    margin-top: 2rem;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
}

#formDate {}

#labelDate {}

#kezdesdatum {}