html {
    box-sizing: border-box;
}

body {
    background-color: #FFECD1;
    font-family: 'Ubuntu', sans-serif;
}

#cim {
    padding: 1rem;
    background-color: #1D3557;
    color: #FBFEFB;
    border: 2px solid #FCA311;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Ubuntu', sans-serif;
}

#image {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-bottom: 25px;
    line-height: 1.5;
    padding: 20px 0;
    border-bottom: 1px solid #e1f1ff;
}

.content {
    text-align: justify;
    margin-left: 5rem;
    margin-right: 5rem;
}

.features {
    font-size: 16px;
    margin-top: 2rem;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
}   

#labelDate {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}

input[type='date'] {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #1D3557;
    background-color: #FBFEFB;
    border-radius: 30px;
}

input[type='date']:hover {
    background-color: #BAF2BB;
}

::-webkit-calendar-picker-indicator{
    background-color: #FBFEFB;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}

#probaidoEgyseg{
    border-radius: 30px;
    background-color: #FBFEFB;
    border: 2px solid #1D3557;
    padding-bottom: 8px;
    text-align: center;
}

#probaidoEgyseg:hover{
    background-color: #BAF2BB;
}

#probaidoTartam{
    border-radius: 30px;
    background-color: #FBFEFB;
    border: 2px solid #1D3557;
    padding-bottom: 8px;
    text-align: center;
}

#probaidoTartam:hover{
    background-color: #BAF2BB;
}

#butCalc {
    background-color: #FBFEFB;
    border: 2px solid #1D3557;
    border-radius: 30px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

#butCalc:hover {
    background-color: #BAF2BB;
}

#date {
    border: 3px solid #1D3557;
    border-radius: 5px;
    min-width: 20%;
    min-height: 30px;
    height: 100%;
    font-weight: 600;
    background-color: #FBFEFB;
    flex-basis: auto;
}

